<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NERV Writer // 書記システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="application-name" content="NERV Writer">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#0A0A12">
    <meta name="description" content="Distraction-free writing system // 書記システム">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.tsx' %>
  </head>

  <body class="overflow-hidden">
    <%= yield %>
  </body>
</html>
